# Configuration de l'API backend
PROJECT_NAME=Boursorama CTO Analyzer API
API_VERSION=0.1.0
BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
FRONTEND_HOST=http://localhost:8501
CSV_REQUIRED_COLUMNS=Date opération,Date valeur,Opération,Valeur,Code ISIN,Montant,Quantité,Cours
TRANSACTIONS_DATA_DIR=../data/data_transaction

# Configuration du frontend Streamlit
BACKEND_URL=http://localhost:8000
